# DB (Neon is ideal, I personally pulled the neon repo, built it with rust and exposed it with auth over port *****
# Technically you can use any postgres instance, just make sure to update the connection string accordingly.
DATABASE_URL="postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require"
DATABASE_URL_UNPOOLED="postgresql://<username>:<password>@<host>:<port>/<database>?sslmode=require"


# Gemini API settings
GEMINI_API_KEY="<your_gemini_api_key>"

# Base URL for Gemini API, typically you won't need to change this unless Google updates their endpoints.
GEMINI_ENDPOINT_BASE_URL="https://generativelanguage.googleapis.com/v1beta"

# Somewhat optimistic defaults for Gemini API usage, you can adjust these based on your needs and API limits.
GEMINI_ENABLED="true"
GEMINI_MODEL="gemini-3.1-flash-lite-preview"
GEMINI_MAX_REQUESTS_PER_MINUTE="30"
GEMINI_REQUEST_TIMEOUT_SECONDS="30"
GEMINI_MAX_PROMPT_CHARACTERS="4000"

# ! Program State, only toggle this if you do not intend smart features to be used and 
# ! instead prefer a heuristic-based approach. 
# ! This will disable all Gemini API calls and related features.
FILEKITSUNE_OFFLINE_MODE="false"
